@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-9'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */

.header-font {
  font-family: 'Roboto Mono', sans-serif;
}

body {
  font-family: 'Helvetica Neue';
}

.dot {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.info-box {
  background-color: white;
  border-radius: 20px;
  border-color: slategray;
  border-width: 0.01em;
  padding: 5% 5%;
  margin: 0 5%;
  margin-bottom: 5%;
}

.announcement-header {
  display: flex;
  align-items: center;
  margin-bottom: 6%;
  font-weight: 500;
}

.announcement-header .dot {
  height: 30px;
  width: 30px;
}

.group-name {
  margin-left: 4%;
}

/* body.reveal {
  background: rgba(0,0,0,0.4);
} */

.menu-item {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  padding: 3% 0;
  font-weight: 500;
}

.hidden {
  display: none;
}


.browse {
  display: flex;
  flex-wrap: wrap;
}

.browse > div {
  flex-basis: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
  /* box-shadow: 0 0 0 1px black; */
  margin-bottom: 10px;
}
