@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/HelveticaNeue\ Thin.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/HelveticaNeue\ Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/Helvetica.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 1 999;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@media (min-width: 480px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 480px) {
  .desktop {
    display: none;
  }
} */


.header-font {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Helvetica Neue';
  color: #3C444D;
}

input::placeholder {
  font-weight: 300;
}

.dot {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.info-box {
  background-color: white;
  border-width: 0.01em;
  padding: 5% 5%;
  margin: 0 7%;
  margin-bottom: 5%;
  box-shadow: 2px 2px 5px #d3d3d3;
}

.announcement-header {
  display: flex;
  align-items: center;
  margin-bottom: 6%;
  font-weight: 500;
}

.announcement-header .dot {
  height: 30px;
  width: 30px;
}

.group-name {
  margin-left: 4%;
}

/* body.reveal {
  background: rgba(0,0,0,0.4);
} */

.menu-item {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  padding: 3% 0;
}

.hidden {
  display: none;
}

/* Make navigation menu slide right */
div#menu {
  left: -100%;
  transition: all 0.3s ease;
}

div#menu.reveal {
  left: 0%;
  transition: all 0.3s ease;
}


.browse {
  display: flex;
  flex-wrap: wrap;
}

.browse > div {
  flex-basis: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
  /* box-shadow: 0 0 0 1px black; */
  margin-bottom: 10px;
}

/* Animation on landing screen */
.typewriter {
  position: relative;
}

.typewriter::before,
.typewriter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}

.typewriter::before {
  /* background: teal; */
  background: #FFE092;
  animation: typewriter 0.75s steps(6) forwards;
}

.typewriter::after {
  width: 0.04em;
  background: #3C444D;
  animation: typewriter 0.75s steps(6) forwards,
    blink 0.75s infinite;;

}

@keyframes typewriter {
  to { left: 100%; }
}

@keyframes blink {
  to { background: transparent; }
}

/* cloud movement on landing page */
#cloud1 {
  animation: MoveLeftRight1 10s linear infinite;
}

#cloud2 {
  animation: MoveLeftRight2 10s linear infinite;
}

@keyframes MoveLeftRight1 {
  0% { left: 10%; }
  40% { left: 100% }
  90% { left: 0% }
  100% { left: 10%; }
}

@keyframes MoveLeftRight2 {
  0% { left: 50%; }
  40% { left: 100% }
  70% { left: 0% }
  100% { left: 50%; }
}

/* input:valid {
  color: green;
} */
input:invalid {
  color: red;
}

.picture-box {
  position: absolute;
  top: 0;
  margin-left: 50%;
  height: 35vw;
  width: 50vw;
  background-color: white;
  border-width: 0.01em;
  padding: 5% 5%;
  margin: 0 7%;
  margin-bottom: 5%;
  box-shadow: 2px 2px 5px #d3d3d3;
}

.chevron {
  transform: rotateX(180deg);
  transition: all 0.5s ease;
}

.chevron.rotated {
  transform: rotateX(0deg) !important;
  transition: all 0.5s ease;
}

