<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look.Up Admin Upgrade</title>
    <link rel="stylesheet" href='/static_files/output.css' />
    <link rel="icon" href="/static_files/icon.png">
    <!-- import fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
</head>

<body class="bg-slate-50">
    {% include "header.html" %}

    <div class="header-font text-2xl px-7 py-5">
        <span class="text-slate-700">admin</span>
        <span class="text-amber-400">upgrade</span>
    </div>

    <div class="flex justify-center mx-32 my-2 py-3 bg-orange-400 rounded-3xl">
        <a href="/admin-console" class="text-sm font-bold">Back</a>
    </div>

    <form action="/adminupgradepost" method="post">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="flex flex-col items-center justify-center">
            <div class="text-lg text-center mt-5 font-medium text-slate-800">
                <span>Enter the NetID of the new admin: </span>
            </div>
            <input class="px-3 mt-5 bg-gray-200 rounded-3xl w-1/2 h-10" type="text" id="netid" name="netid"
                placeholder="Add a NetID">
            <button class="mt-5 bg-amber-300 rounded-3xl w-1/2 h-10 font-medium" name="join"
                type="submit">Upgrade</button>
        </div>
    </form>
</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>