<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look.Up: Ban User</title>
    <link rel="stylesheet" href='/static_files/output.css' />
    <link rel="icon" href="/static_files/icon.png">
    <!-- import fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
</head>

<body class="bg-slate-50">
    {% include "header.html" %}
    {% include "dashboard.html" %}

    <div class="sm:ml-72 sm:px-14 sm:pt-4">

        <div class="flex items-center justify-between px-7 pt-7">
            <div class="header-font text-lg">
                <span class="text-text font-bold">Ban User</span>
            </div>
            <div class="bg-red-400 px-3 pb-1 rounded-3xl">
                <a href="/admin-console" class="text-xs text-white font-medium">Back</a>
            </div>
        </div>

        <form action="/banuserpost" method="post">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <div class="flex flex-col items-center justify-center">
                <div class="text-lg text-center mt-5 font-medium text-slate-800">
                    <span>Enter the NetID of the banned user: </span>
                </div>
                <input class="px-3 mt-5 bg-gray-200 rounded-3xl w-1/2 h-10" type="text" id="netid" name="netid"
                    placeholder="Add a NetID">
                <button class="mt-5 bg-amber-300 rounded-3xl w-1/2 h-10 font-medium" name="join"
                    type="submit">Ban</button>
            </div>
        </form>
    </div>
</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>