<!-- dashboard (desktop) menu -->
<div class="bg-dark-brown max-sm:hidden fixed top-0 left-0 h-screen w-72 z-20
px-10 py-14 overflow-y-scroll text-white no-scrollbar">
  <div class="header-font font-bold text-xl">
    <span>Dashboard</span>
  </div>

  <div class="ml-5 mt-10 mb-10 font-medium">
    <div class="cursor-pointer" onclick="window.location='/'">Home</div>
    <div class="cursor-pointer header-font opacity-50 text-xs mt-7">personal</div>
    <div class="cursor-pointer mt-3" onclick="window.location='/user-info?netid={{user.netid}}'">My Profile</div>
    <div class="cursor-pointer mt-3" onclick="window.location='/my-contacts'">My Contacts</div>

    <div class="cursor-pointer mt-7 header-font opacity-50 text-xs">groups</div>
    <div class="cursor-pointer mt-3" onclick="window.location='group-create-request'">Create a Group</div>
    <div class="cursor-pointer mt-3" onclick="window.location='groups-search'">All Groups</div>
    <div class="cursor-pointer mt-3" onclick="window.location='groups'">My Groups</div>
    <div class="cursor-pointer mt-3" onclick="window.location='my-invites'">My Invites</div>

    {% if user.is_admin: %}
    <div class="cursor-pointer mt-7" onclick="window.location='admin-console'">Admin Console</div>
    {% endif %}

    <div class="cursor-pointer mt-7 menu-item" onclick="window.location='logout'">Logout</div>
  </div>

  <div class="mt-7 flex items-center">
    {% if user.photo: %}
    <div class="dot mr-5 bg-cover cursor-pointer" onclick="window.location='/user-info?netid={{user.netid}}'"
      style="background-image: url({{user.photo}}); height: 5vw !important; width: 5vw !important;"></div>
    {% else: %}
    <img class="object-cover dot cursor-pointer !h-16 !w-16 border mr-5" src="assets/profile.png">
    {% endif %}
    <span class="text-xl font-medium">
      {% for elem in user.display_name.split(' ') %}
      {{ elem }}
      <br>
      {% endfor %}
    </span>
  </div>

</div>