<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static_files/output.css' />
    <!-- import fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
</head>

<body class="bg-slate-50">
    {% include "header.html" %}
    
    <div class="flex flex-col justify-center mt-5 px-16 py-2 bg-amber-300 rounded-3xl">
        <form action="/groupjoinpost?clubid={{club.clubid}}" method="post">
            <button name="join" type="submit">Join {{club.name}}</button>
        </form>
    </div>
</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>