<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static_files/output.css' />
    <!-- import fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
</head>

<body class="bg-slate-50">
    {% include "header.html" %}

    {% if clubmember.is_moderator %}
    <div class="text-lg text-center mt-5 font-medium text-slate-800">
        <a href="/group-invite-request?clubid={{clubid}}">Invite</a>
    </div>
    <div class="text-lg text-center mt-5 font-medium text-slate-800">
        <a href="/group-requests?clubid={{clubid}}">Join Requests</a>
    </div>
    {% endif %}
    {% if members|length != 0: %}
    {% for member in members: %}
    <div class="text-lg text-center mt-5 font-medium text-slate-800">
        <a href="/user-info?netid={{member.netid}}&clubid={{clubid}}">{{member.first_name}} {{member.last_name}}
    </div>
    {% endfor %}
    {% endif %}
</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>