<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look.Up: Group Removal</title>
    <link rel="stylesheet" href='/static_files/output.css' />
    <link rel="icon" href="/static_files/icon.png">
    <!-- import fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
</head>

<body class="bg-slate-50 reveal">
    {% include "header.html" %}

    <div class="header-font text-2xl px-7 py-5">
        <span class="text-slate-700">remove</span>
        <span class="text-amber-400">groups</span>
    </div>


    <div class="browse mx-6">
        {% for group in groups: %}
        <div class="text-lg text-center mt-5 font-medium text-slate-800">
            <div class="info-box">

                <div class="text-base">
                    {{group.name}}
                </div>

                <div class="flex justify-center mx-2 my-2 py-3 bg-amber-400 rounded-3xl">
                    <form action="/removegroup?clubid={{group.clubid}}" method="post">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <button class="text-sm" type="submit" name="Remove" value="Remove">Remove</button>
                    </form>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>