<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static_files/output.css' />
    <!-- import fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
</head>

<body class="bg-slate-50" onload="getResults()">
    {% include "header.html" %}
    <input class="mt-5 bg-gray-200 rounded-3xl w-3/4 h-10" type="text" id="search" name="search">

    <div id="results"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        'use strict';

        function handleResponse(response) {
            $('#results').html(response);
        }

        var request = null;

        function getResults() {
            let search = $('#search').val();
            search = encodeURIComponent(search);
            let url = '/group-search-results?search=' + search;
            if (request != null)
                request.abort();
            request = $.ajax(
                {
                    type: 'GET',
                    url: url,
                    success: handleResponse
                }
            );
        }

        function setup() {
            $('#search').on('input', getResults);
        }

        $('document').ready(setup);
    </script>
</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>