<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Look.Up: Group Creation Request</title>
  <link rel="stylesheet" href='/static_files/output.css' />
  <link rel="icon" href="/static_files/icon.png">
</head>

<body class="bg-offwhite">
  {% include "header.html" %}
  {% include "dashboard.html" %}

  <div class="sm:ml-72 sm:px-14 sm:pt-4">
    <div class="text-xl ml-7 mt-5 header-font font-medium text-text">
      <span>Let's create your group!</span>
    </div>

    <form id="FormId" action="/grouprequestpost" method="post">
      <div class="flex flex-col mx-7 sm:mt-5">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div id="name-form" class="flex items-center mt-5">
          <span class="font-light text-xl">Name:</span>
          <input class="px-3 bg-gray-200 rounded-3xl w-3/4 h-10 ml-3" type="text" id="name" name="name">
        </div>

        <div id="share-socials-form" class="flex items-center mt-5">
          <span class="font-light text-xl">Members share social media:</span>
          <input class="bg-gray-200 rounded-3xl w-8 h-10 ml-3" type="checkbox" id="share_socials" name="share_socials">
        </div>

        <div id="share-phone-form" class="flex items-center mt-5">
          <span class="font-light text-xl">Members share phone numbers:</span>
          <input class="bg-gray-200 rounded-3xl w-8 h-10 ml-3" type="checkbox" id="share_phone" name="share_phone">
        </div>

        <div id="public-form" class="flex items-center mt-5">
          <span class="font-light text-xl">Make group public:</span>
          <input class="bg-gray-200 rounded-3xl w-8 h-10 ml-3" type="checkbox" id="public" name="public">
        </div>

        <div class="flex max-sm:flex-col items-center sm:mt-5">
          <div onclick="document.getElementById('FormId').submit();"
            class="bg-dark-pton mt-7 px-3 py-3 w-1/2 header-font text-sm text-white text-center">
            <span>Submit Group for Admin Approval</span>
          </div>
        </div>


      </div>
    </form>
  </div>
  <script>
    var input = document.getElementById("name");
    input.addEventListener("keypress", function (event) {
      if (event.key === "Enter") {
        event.preventDefault();
        profileNext('name-form', 'share-socials-form')
      }
    });
  </script>
</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>