<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look.Up: My Groups</title>
    <link rel="stylesheet" href='/static_files/output.css' />
    <!-- import fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
</head>

<body class="bg-slate-50" onload="getResults()">
    {% include "header.html" %}

    <div class="header-font text-2xl px-7 py-5">
        <span class="text-slate-700">my</span>
        <span class="text-amber-400">groups</span>
    </div>

    <center>

        <input class="px-3 bg-gray-200 rounded-3xl w-1/4 h- mb-5" type="text" id="search" name="search"

            placeholder="Search">
    </center>

    <div id="results"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        'use strict';

        function handleResponse(response) {
            $('#results').html(response);
        }

        var request = null;

        function getResults() {
            let search = $('#search').val();
            search = encodeURIComponent(search);
            let url = '/group-results?search=' + search;
            if (request != null)
                request.abort();
            request = $.ajax(
                {
                    type: 'GET',
                    url: url,
                    success: handleResponse
                }
            );
        }

        function setup() {
            $('#search').on('input', getResults);
        }

        $('document').ready(setup);
    </script>
</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>