<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look.Up: Group Creation Requests</title>
    <link rel="stylesheet" href='/static_files/output.css' />
    <link rel="icon" href="/static_files/icon.png">
    <!-- import fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
</head>

<body class="bg-slate-50 reveal">
    {% include "header.html" %}
    {% include "dashboard.html" %}

    <div class="sm:ml-72 sm:px-14 sm:pt-4">

        <div class="flex items-center justify-between px-7 pt-7">
            <div class="header-font text-lg">
                <span class="text-text font-bold">Creation Requests</span>
            </div>
            <div class="bg-red-400 px-3 pb-1 rounded-3xl">
                <a href="/admin-console" class="text-xs text-white font-medium">Back</a>
            </div>
        </div>

        <div class="browse mx-6">
            {% for request in requests: %}
            <div class="text-lg text-center mt-5 font-medium text-slate-800">
                <div class="info-box">

                    <div class="text-base">
                        {{request.name}}
                    </div>

                    <div class="flex justify-center mx-2 my-2 py-3 bg-amber-400 rounded-3xl">
                        <form action="/groupfulfill?reqid={{request.reqid}}&netid={{request.netid}}&accept=1"
                            method="post">
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                            <button class="text-sm" type="submit" name="Accept" value="Accept">Accept</button>
                        </form>
                    </div>

                    <div class="flex justify-center mx-2 my-2 py-3 bg-amber-400 rounded-3xl">
                        <form action="/groupfulfill?reqid={{request.reqid}}&netid={{request.netid}}&accept=0"
                            method="post">
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                            <button class="text-sm" type="submit" name="Deny" value="Deny">Deny</button>
                        </form>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>