<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static_files/output.css' />
    <!-- import fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
</head>

<body class="bg-slate-50">
    <div class="flex items-center justify-between px-7 py-6 bg-white">
        <svg onclick="toggleMenu()" class="w-7 cursor-pointer" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="50" height="50" viewBox="0 0 50 50" style=" fill:#000000;">
            <path d="M 0 9 L 0 11 L 50 11 L 50 9 Z M 0 24 L 0 26 L 50 26 L 50 24 Z M 0 39 L 0 41 L 50 41 L 50 39 Z">
            </path>
        </svg>
        <h1 class="text-3xl header-font cursor-pointer">
            <span class="text-slate-700">look.</span><span class="text-amber-400">up</span>
        </h1>
        <div>
            <img class="dot border cursor-pointer" src="{{user.photo}}">
        </div>
    </div>
    {% if members|length != 0: %}
    {% for member in members: %}
    <div class="text-lg text-center mt-5 font-medium text-slate-800">
        <a href="/member-info?netid={{member.netid}}&clubid={{clubid}}">{{member.first_name}} {{member.last_name}}</a>
    </div>
    {% endfor %}
    {% endif %}
</body>

<div id="filter" onclick="toggleMenu()" class="hidden absolute top-0 h-full w-full z-10 opacity-50 bg-black">
</div>

<!-- navigation menu -->
<div id="menu" class="hidden bg-white absolute top-0 h-full w-5/6 z-20
px-8 py-10">
    <div class="flex items-center mb-10">
        <img class="dot cursor-pointer !h-16 !w-16 border mr-5" src="{{user.photo}}">
        <span class="text-2xl font-medium">{{user.first_name}}<br>{{user.last_name}}</span>
    </div>

    <div class="mb-10">
        <div class="menu-item" onclick="window.location='/'">Home</div>
        <div class="menu-item" onclick="window.location='profile-update'">Update Profile</div>
        <div class="menu-item" onclick="window.location='groups'">My Groups</div>
        <div class="menu-item" onclick="window.location='groups-search'">Search Groups</div>
    </div>

    <div class="flex w-fit px-7 py-5 bg-amber-400 rounded-3xl">
        <span class="font-medium text-xl" onclick="window.location='group-create'">Create a Group</span>
    </div>
</div>

<script src="/static_files/index.js"></script>

</html>