<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Look.Up</title>
  <link rel="stylesheet" href='/static_files/output.css' />
  <link rel="icon" href="/static_files/icon.png">
</head>

<body class="bg-offwhite reveal">
  {% include "header.html" %}

  <div class="header-font text-2xl px-7 py-5">
    <span class="text-text">Find your friends!</span>
  </div>

  <form class="px-7 flex items-center mb-5">
    <input class="border px-3 py-2 w-full border-text" id="search" name="search" type="text" placeholder="Search a person">
    <button type="submit" class="ml-3 bg-dark-pton px-3 py-1 header-font text-sm">
      <input type="submit">
    </button>
  </form>

  {% if no_search: %}
  <div class="flex items-center justify-center info-box" style="min-height: 35vh">
    <span class="text-center w-3/4">No results yet. Make a search!</span>
  </div>

  {% else: %}
  <div class="overflow-x-scroll relative" style="min-height: 40vh; display: -webkit-box">
    {% for indiv in users: %}
    <div class="info-box !ml-7 !mr-0" style="height: 35vh; width: 45vw">
      {{indiv.display_name}}
      <img src="{{indiv.photo}}">
      <br>
      <a href="/user-info?netid={{indiv.netid}}" class="text-sm font-bold">See More</a>
    </div>
    {% endfor %}
    <div class="w-7">

    </div>
  </div>
  {% if results_length == 1: %}
    <span>Showing 1 result.</span>
  {% elif results_length < 10: %}
    <span>Showing all {{results_length}} results.</span>
  {% else: %}
    <span>Displaying 10 of {{results_length}} results. Click <u><a href="/users?search={{search_string}}">here</a></u> to see all.</span>
  {% endif %}
  {% endif %}





  <div class="info-box">
    <div class="text-xl mb-3">
      <span>New to</span>
      <span class="text-slate-700 header-font">look.</span><span
        class="text-amber-400 header-font">up</span><span>?</span>
    </div>
    <span class="text-sm">Here's how it works.</span>
    <div class="my-3 flex items-center">
      <div class="dot !h-7 !w-7 !bg-amber-400 text-center pt-0.5">1</div>
      <span class="ml-3">Explanation 1.</span>
    </div>
    <div class="my-3 flex items-center">
      <div class="dot !h-7 !w-7 !bg-amber-400 text-center pt-0.5">2</div>
      <span class="ml-3">Explanation 2.</span>
    </div>
    <div class="my-3 flex items-center">
      <div class="dot !h-7 !w-7 !bg-amber-400 text-center pt-0.5">3</div>
      <span class="ml-3">Explanation 3.</span>
    </div>
  </div>

</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>