<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look.Up: My Contacts</title>
    <link rel="stylesheet" href='/static_files/output.css' />
    <link rel="icon" href="/static_files/icon.png">
    <!-- import fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
</head>

<body class="bg-offwhite">
    {% include "header.html" %}
    {% include "dashboard.html" %}

    <div class="sm:ml-72 sm:px-20 sm:py-5"> 
      <div class="text-xl max-sm:ml-7 mt-5 header-font font-medium text-text">
        <span>My Contacts</span>
      </div>

      <div class="overflow-y-auto info-box sm:!mx-0 !p-0 sm:!h-[60vh] !mt-5" style="height: 70vh;">
        {% for contact in contacts: %}
          <div class="border-b-2">
            <div class="flex items-center px-5 py-4">
              <img
              onclick="window.location='/user-info?netid={{contact.netid}}'"
              class="object-cover dot border cursor-pointer mr-6"
              src="{{ contact.photo }}"
              >
              <span class="header-font font-medium cursor-pointer"
              onclick="window.location='/user-info?netid={{contact.netid}}'">
                {{ contact.display_name }}
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    
</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>