<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look.Up: My Contacts</title>
    <link rel="stylesheet" href='/static_files/output.css' />
    <link rel="icon" href="/static_files/icon.png">
    <!-- import fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
</head>

<body class="bg-offwhite">
    {% include "header.html" %}
    {% include "dashboard.html" %}

    <div class="sm:ml-72 sm:px-14 sm:py-5">
      <div class="header-font text-2xl mx-7 my-5">
        <span class="text-text font-bold">My Contacts</span>
      </div>
    </div>

    <div class="sm:ml-72 sm:px-20 sm:py-5">
      <div class="overflow-y-auto info-box sm:!mx-0 !p-0 sm:!h-[60vh]" style="height: 70vh;">
        {% for contact in contacts: %}
          <div class="border-b-2">
            <div class="flex items-center px-5 py-4">
              <img
              onclick="window.location='/user-info?netid={{contact.netid}}'"
              class="object-cover dot border cursor-pointer mr-6"
              src="{{ contact.photo }}"
              >
              <span class="header-font font-medium cursor-pointer"
              onclick="window.location='/user-info?netid={{contact.netid}}'">
                {{ contact.display_name }}
              </span>
              <div class="float-right">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>