<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Look.Up: My Invites</title>
  <link rel="stylesheet" href='/static_files/output.css' />
  <link rel="icon" href="/static_files/icon.png">
  <!-- import fonts -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
  </style>
</head>

<body class="bg-offwhite reveal">
  {% include "header.html" %}
  {% include "dashboard.html" %}

  <div class="sm:ml-72 sm:px-14 sm:pt-5">

    <div class="header-font text-2xl px-7 py-5">
      <span class="text-slate-700 font-bold">My Invites</span>
    </div>
    {% if invites: %}
    <div class="browse mx-4">



      {% for invite in invites: %}
      <div class="text-lg text-center mt-5 font-medium text-slate-800">
        <div class="info-box">
          <div class="text-base font-bold">
            {{invite.name}}
          </div>

          <div class="flex justify-center mx-2 my-2 py-2 bg-orange-400 rounded-3xl">
            <form action="/invitefulfill?clubid={{invite.clubid}}&accept=1" method="post">
              <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
              <button class="text-sm font-bold" type="submit" name="Accept" value="Accept">Accept</button>
            </form>
          </div>

          <div class="flex justify-center mx-2 my-2 py-2 bg-orange-400 rounded-3xl">
            <form action="/invitefulfill?clubid={{invite.clubid}}&accept=0" method="post">
              <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
              <button class="text-sm font-bold" type="submit" name="Deny" value="Deny">Deny</button>
            </form>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
    {% else: %}
    <div class="flex items-center justify-center info-box" style="min-height: 39vh">
      <span class="text-center w-3/4">No invites now! Check back later.</span>
    </div>
    {% endif %}
  </div>
</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>
<script>
  // make dashboard tab glow orange
  let tab = document.getElementById("dashboard-my-invites")
  tab.style.color = "#F4A261"
</script>

</html>