<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/static_files/output.css' />
  <!-- import fonts -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
  </style>
</head>

<body class="bg-slate-50 reveal">
  {% include "header.html" %}
  {% for invite in invites: %}
  <div class="text-lg text-center mt-5 font-medium text-slate-800">
      {% if invite[0].accepted == None: %}
      <div>You were invited to {{ invite[1] }} by {{ invite[0].inviter_netid }}</div>
      <form action = "/accept-invitation?invite_id={{ invite[2] }}" method="post">
        <button name="join" type="submit">Accept</button>
      </form>
      <form action = "/reject-invitation?invite_id={{ invite[2] }}" method="post">
        <button name="join" type="submit">Reject</button>
      </form>
      {% elif invite[0].accepted: %}
      <div>You accepted the invitation to {{ invite[1] }} by {{ invite[0].inviter_netid }}</div>
      {% else: %}
      <div>You rejected the invitation to {{ invite[1] }} by {{ invite[0].inviter_netid }}</div>

      {% endif %}



  </div>
  {% endfor %}
  <script>
    function accept() {
      console.log("bitch made")

    }

    function reject() {
      return;
    }

  </script>
</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>