<!-- dark filter -->
<div id="filter" onclick="toggleMenu()" class="hidden absolute top-0 h-full w-full z-10 opacity-50 bg-black">
</div>

<!-- navigation menu -->
<div id="menu" class="hidden bg-white absolute top-0 h-full w-5/6 z-20
px-8 py-10">
  <div class="flex items-center mb-10">
    {% if user.photo: %}
      <img class="object-cover dot cursor-pointer !h-16 !w-16 border mr-5" src="{{user.photo}}"  onclick="window.location='/user-info?netid={{user.netid}}'">
    {% else: %}
      <img class="object-cover dot cursor-pointer !h-16 !w-16 border mr-5" src="assets/profile.png">
    {% endif %}
    <span class="text-2xl font-medium">
      {% for elem in user.display_name.split(' ') %}
        {{ elem }}
        <br>
      {% endfor %}
    </span>
  </div>

  <div class="mb-10">
    <div class="menu-item" onclick="window.location='users'">Individual Lookup</div>
    <div class="menu-item" onclick="window.location='my-invites'">My Invites</div>
    <div class="menu-item" onclick="window.location='groups'">My Groups</div>
    <div class="menu-item" onclick="window.location='groups-search'">Search Groups</div>
    {% if user.is_admin: %}
    <div class="menu-item" onclick="window.location='admin-console'">Admin Console</div>
    {% endif %}
  </div>

  <div class="flex w-fit px-7 py-5 bg-orange-400 rounded-3xl">
    <span class="font-medium text-xl" onclick="window.location='group-create-request'">Create a Group</span>
  </div>
</div>