<!-- dark filter -->
<div id="filter" onclick="toggleMenu()" class="hidden fixed top-0 h-full w-full z-10 opacity-50 bg-black">
</div>

<!-- Test -->
<!-- navigation menu -->
<div id="menu" class="bg-offwhite fixed top-0 h-full w-5/6 z-20
px-8 py-10 overflow-y-scroll">
  <div class="flex items-center mb-10">
    {% if user.photo: %}
    <div class="dot !h-16 !w-16 border mr-5 bg-cover" style="background-image: url({{user.photo}});"
      onclick="window.location='/user-info?netid={{user.netid}}'"></div>
    {% else: %}
    <img class="object-cover dot cursor-pointer !h-16 !w-16 border mr-5" src="assets/profile.png">
    {% endif %}
    <span class="text-2xl font-medium">
      {% for elem in user.display_name.split(' ') %}
      {{ elem }}
      <br>
      {% endfor %}
    </span>
  </div>

  <div class="mb-10 absolute">
    <!-- <div class="menu-item" onclick="window.location='users'">Individual Lookup</div> -->
    <div class="header-font opacity-50 text-xs mt-3 mb-3">personal</div>
    <div class="mobile-pointer" onclick="window.location='/user-info?netid={{user.netid}}'">My Profile</div>
    <div class="mobile-pointer" onclick="window.location='/my-contacts'">My Contacts</div>

    <hr class="mt-6 bg-text h-0.25">

    <div class="header-font opacity-50 text-xs mt-3 mb-3">groups</div>
    <div class="mobile-pointer" onclick="window.location='group-create-request'">Create a Group</div>
    <div class="mobile-pointer" onclick="window.location='groups-search'">All Groups</div>
    <div class="mobile-pointer" onclick="window.location='groups'">My Groups</div>
    <div class="mobile-pointer" onclick="window.location='my-invites'">My Invites</div>

    {% if user.is_admin: %}
    <hr class="mt-6 bg-text h-0.25">
    <div class="mt-6 mobile-pointer" onclick="window.location='admin-console'">Admin Console</div>
    {% endif %}

    <hr class="mt-6 bg-text h-0.25">
    <div class="mt-6 mobile-pointer" onclick="window.location='logout'">Logout</div>
  </div>
</div>