<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Look.Up</title>
  <link rel="stylesheet" href='/static_files/output.css' />
  <!-- import fonts -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
  </style>
</head>
<body class="bg-slate-50">

    {% include "header.html" %}

    <center>
      <form type="submit">
        <input class="mt-5 bg-gray-200 rounded-3xl w-1/4 h-10" type="text" id="search" name="search"
            placeholder="Search">
        <input type="submit">
      </form>
    </center>

    {% for individual_user in users %}
    <div>
      {{ individual_user.first_name }}
      {{ individual_user.last_name }}

      {% if "collface" in individual_user.photo: %}
        <!-- Default profile picture -->
        <img src="../assets/profile.png">
      {% else: %}
        <img src="{{ individual_user.photo }}">
      {% endif %}


      {{ individual_user.netid }}
    </div>

    {% endfor %}


    <div id="results"></div>

</body>

{% include "navigation-menu.html" %}

<script src="/static_files/index.js"></script>

</html>